.form {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  width: 480px;
  margin: 56px auto;
  box-shadow: 0 0 12px #6b705c;

  h1 {
    font-size: 24px;
  }
}

.form-button {
  color: white;
  padding: 4px 8px;
  background-color: #6b705c;
  border-radius: 4px;
  border: 1px solid white;
}
